:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}



.app-container {
  background-color: #312f17;
  height: fit-content;
  width: 100%;
}

/* WORKOUT PAGE STYLING */

.workout-card-container {
  position: relative; 
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-height: 300px;
}

.menu-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; 
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.delete-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20; 
}

.window-delete {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.workout-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  margin: 20px;
}

.workout-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.w-duration {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.w-description {
  font-size: 1em;
}


.workout-card:hover{
  transform: scale(1.01);
}


.workout-card-container a {
  text-decoration: none;
  color: inherit;
}

.app-container{
  margin: 5px;
}

.welcome-logout{
  display: flex;
  color: white;
  height: 30px;
  align-items: center;
}

.nav-image{
  align-items: center;
  width: 65px;
  height: 65px;
  margin: auto;
}

.nav-home{
  display: flex;
  margin-top: 2px;
  align-items: center;
}

.nav-bar{
  border: solid 4px;
  border-radius: 10px;
  background-color: #e5bd3f;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  height: 10px;
}

.signup-login-btn{
  color: #ea9d3e;
  background: none;
  outline: none;
}

.nav-bar img {
  margin-right: 20px; 
}

.nav-bar h1 {
  margin: 0;
} */


.home-container{
  border: solid 4px;
  margin: 4px;
  border-radius: 10px;
}

.nav-links {
  margin-left: 20px; 
  margin-right: 20px;
  padding: none;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links-container {
  display: flex;
  align-items: center;
}


.workout-title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-align: center;
}


.e-list{
  display: flex;
  border: solid;
  justify-content: center;
  width: 200px;
  border-radius: 10px;
  margin: 4px;
  background: radial-gradient(#FCF4A3, #FCD12A);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}


/* EXERCISE PAGE STYLING */



.e-card-link {
  text-decoration: none;
  color: inherit;
}

.e-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.e-card {
  width: 300px;
  height: 400px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: transform 0.3s ease;
}

.e-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px #e5bd3f;
}

.exercise-picture {
  width: 100%;
  height: 60%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.e-card h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding: 20px 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}



.cat-title {
  background-color: #ffcc00;
  color: white;
  font-size: 1.5em;
  font-weight: bold; 
  text-align: center;
  padding: 10px 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px; 
}


.e-container {
  margin-bottom: 40px; 
}

/* Card list styles */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}




.button-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.open-window-btn {
  padding: 10px 20px;
  background-color: #ea9d3e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
}

.close-window-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ea9d3e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.input-field{
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  margin: 5px;
  width: 300px;
  outline: none;
}

.add-btn{
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 200px;
}

.window-delete {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 500px;
}

.signup-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form-input, 
.form-btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 10px;
  margin: 10px 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px; /* Space between checkbox and label */
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid #4CAF50;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

.checkbox-label input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.checkbox-label input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 18px;
}
