:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




.login-btn{
  height: 20px;
  text-align: center;
  align-items: center;
}

.welcome-logout p{
  margin: 6px;
  font-size: 12px;
  font-style: italic;
  color:#ea9d3e
}

.welcome-logout button{
  background-color: #fbbf75;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 5px;
}

.welcome-logout button:hover{
  background-color: #ea9d3e;
  cursor: pointer;
}

.app-container {
  background-color: #312f17;
  height: fit-content;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust this height based on your needs */
  overflow: hidden; /* Ensures nothing escapes the container */
}

.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image scales properly */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 202, 137, 0.349) 50%, #312f17 80%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

h1, p {
  margin: 0;
}

.home-title{
  position: relative;
  text-align: center;
  bottom: 400px;
  display: grid;
  gap: 20px;
  font-size: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.752);
  text-shadow: 0px 2px 4px black;
}

.home-title p {
  font-size: 30px;
}

.home-body{
  position: relative;
  bottom: 200px;
  display: grid;
  text-align: center;
  color: rgb(247, 189, 28);
  text-shadow: 0px 2px 4px black;
}

.home-body li{
  list-style-position: inside;
}

/* WORKOUT PAGE STYLING */

.workout-card-container {
  position: relative; 
  background: linear-gradient(to right, #feb04b 50%, rgba(255, 131, 6, 0.833) 90%);
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.997);
  padding: 20px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  max-height: 300px;
}

.menu-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; 
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.delete-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20; 
}

.window-delete {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.workout-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  margin: 20px;
}

.workout-card {
  background-color: #ffa733a6;
  background: none;
  color: black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
}

.w-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.w-duration {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.w-description {
  font-size: 1em;
}


.workout-card:hover{
  transform: scale(1.01);
}


.workout-card-container a {
  text-decoration: none;
  color: inherit;
}

.app-container{
  margin: 5px;
}

.welcome-logout{
  display: flex;
  color: white;
  height: 30px;
  align-items: center;
}

.nav-image{
  align-items: center;
  width: 65px;
  height: 65px;
  margin: auto;
}

.nav-home{
  display: flex;
  margin-top: 2px;
  align-items: center;
}

.nav-bar{
  border-radius: 10px;
  background-image: linear-gradient(to right, rgb(255, 202, 137), #fd8a1700);
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  height: 10px;
}

.signup-login-btn{
  color: #ea9d3e;
  background: none;
  outline: none;
}

.nav-bar img {
  margin-right: 20px; 
}

.nav-bar h1 {
  margin: 0;
} */


.home-container{
  border: solid 4px;
  margin: 4px;
  border-radius: 10px;
}

.nav-links {
  margin-left: 20px; 
  margin-right: 20px;
  padding: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 2px 4px black;
}

.nav-links:hover{
  color: rgb(255, 183, 0);
}

.nav-links-container {
  display: flex;
  align-items: center;
}


.workout-title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  text-align: center;
}


.e-list:hover{
  background-color: #ea9d3e;
  cursor: pointer;
}

.link{
  text-decoration: none;
  color: black;
}

.w-detail-exercise ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center; 
  align-items: center;   
  padding: 0;           
  list-style: none;     
}

.w-detail-container button{
  padding: 5px;
  width: 100px;
  margin: 4px;
  background-color: #ffeeb5;
  border: none;
}

.w-detail-container button:hover{
  background-color: #e5bd3f;
  cursor: pointer;
}

.w-detail-container h2{
  font-size: 35px;
  color: rgb(255, 220, 162);
  text-shadow: 0px 2px 4px black;
  text-decoration: underline;
  font-stretch: expanded;
}

.e-list {
  background-color: #e5bd3f;
  border-radius: 5px;
  text-align: center;
  height: 40px;
  align-content: center;
  margin: 2px;
  display: flex;      
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

/* EXERCISE PAGE STYLING */

.e-detail-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.e-detail-container button{
  padding: 5px;
  width: 100px;
  margin: 4px;
  background-color: #ffeeb5;
  border: none;
}

.e-detail-container button:hover{
  background-color: #e5bd3f;
  cursor: pointer;
}


.e-detail-container img{
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  margin: 10px;
}

.e-card-link {
  text-decoration: none;
  color: inherit;
}

.e-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.e-card {
  width: 300px;
  height: 400px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  transition: transform 0.3s ease;
}

.e-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px #e5bd3f;
}

.exercise-picture {
  width: 100%;
  height: 60%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.e-card h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding: 20px 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}



.cat-title {
  background-color: #ffcc00;
  width: 75%;
  color: black;
  font-size: 1.5em;
  font-weight: bold; 
  text-align: center;
  padding: 10px 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px; 
}


.e-container {
  margin-bottom: 40px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Card list styles */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}




.button-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px;
}

.open-window-btn {
  padding: 10px 20px;
  background-color: #ea9d3e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
}

.close-window-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ea9d3e;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.input-field{
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  margin: 5px;
  width: 300px;
  outline: none;
}

.add-btn{
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 200px;
}

.window-delete {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 500px;
}

.signup-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form-input, 
.form-btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px;
  margin: 10px 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px; 
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 2px solid #4CAF50;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

.checkbox-label input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.checkbox-label input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 18px;
}

.w-detail-container{
  text-align: center;
}

.w-detail-container h1{
  color: rgb(255, 187, 0);
  text-shadow: 0px 2px 4px black;
}